:root {
  --background: white;
  --text: black;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --text: white;
  }
} */

html,
body {
  height: 100%;
  background: var(--background);
}

body {
  font-family: sans-serif;
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#headline {
  text-transform: uppercase;
}
